/*---------------------Defaults---------------------*/
nav, header, footer {
    display: block; 
    font-family: Inconsolata;
}

body {
    line-height: 1;
    margin: 0;
    font-family: Inconsolata;
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row {
    width: 100%;
    display: flex;
    /*as everything flexes and gets smaller, wrap the content around; helps center all this content as flexing*/
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

/*the percentages make it mobile responsive*/
.col-1 {
    /*allow to position within these rows, creating a total column width of 12*/
    width: 8.33%;
}
.col-2 {
    /*allow to position within these rows, creating a total column width of 12*/
    width: 16.66%;
}
.col-3 {
    /*allow to position within these rows, creating a total column width of 12*/
    width: 25%;
}
.col-4 {
    /*allow to position within these rows, creating a total column width of 12*/
    width: 33.33%;
}
.col-5 {
    /*allow to position within these rows, creating a total column width of 12*/
    width: 41.66%;
}
.col-6 {
    /*allow to position within these rows, creating a total column width of 12*/
    width: 50%;
}
.col-7 {
    /*allow to position within these rows, creating a total column width of 12*/
    width: 58.33%;
}
.col-8 {
    /*allow to position within these rows, creating a total column width of 12*/
    width: 66.66%;
}
.col-9 {
    /*allow to position within these rows, creating a total column width of 12*/
    width: 75%;
}
.col-10 {
    /*allow to position within these rows, creating a total column width of 12*/
    width: 83.33%;
}
.col-11 {
    /*allow to position within these rows, creating a total column width of 12*/
    width: 91.66%;
}
.col-12 {
    /*allow to position within these rows, creating a total column width of 12*/
    width: 100%;
}

* {
    box-sizing: border-box;
}

/*---------------------Nav Bar-----------------------*/

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: black;
    overflow: hidden;
    margin: 0;
    margin-left: -40px;
    /*i think because of the later inline display block*/
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #14c6f2;
}

ul.topnav li a:hover {
    background-color: mediumpurple;
    color: white;
}

ul.topnav li.dropdown {
    display: none;
}

/*------------------Custom Styles--------------------*/

#gradient {
    background: blue;
    background-image: linear-gradient(to bottom right, #14c6f7, #af14f7);
}

h1.large {
    color: white;
    font-size: 40px;
    line-height: 50px;
}

/*First container*/

div.left-col {
    margin-left: 10%;
    margin-right: 10%;
}

div.right-col {
    margin-left: 0;
}

/*Second container*/

h1.section2Header {
    font-size: 35px;
    text-align: center;
}

.col-4 {
    text-align: center;
    padding: 30px;
}

div.left-float-col, div.mid-float-col, div.right-float-col {
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

div.icon {
    width: 100%;
}

label {
    font-size: 20px;
    font-weight: 1000;
}

p.col-4 {
    font-size: 28px;
    line-height: 1.2px;
}

button.learnMore {
    display: block;
    margin: auto;
    font-size: 20px;
    background-color: black;
    color: #14c6f2;
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
}

button.learnMore:hover {
    background-color: mediumpurple;
    color: white;
}

/*--------------------------Footer--------------------------*/
footer.foot {
    background-color: #666;
    padding-left: 10%;
}

footer.foot h1 {
    color: white;
    font-size: 20px;
}

footer.foot ul {
    list-style: none;
    text-align: left;
    padding: 0px;
}

footer.foot ul li {
    font-size: 15px;
    color: white;
    line-height: 1.5;
}




/*---------------------Mobile------------------------*/
/*this detects the screen of mobile, max width to tell its width to break and start applying the mobile elements*/

@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        /*excludes the nth child of the ul (the home one)*/
        display: none;
    }
    
    ul.topnav li.dropdown {
        display: block;
        float: right;
        /*makes the little icon on the right*/
    }
    
    ul.topnav.responsive li.dropdown {
        position: absolute;
        /*this tells it to stay in the same position*/
        top: 0;
        right: 0;
    }
    
    ul.topnav.responsive {
        position: relative;
        /*so the navbar doesn't move around too much*/
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
        /*so that it stacks on top of one another*/
    }
    
    /*change it so that when you are in mobile mode, there aren't two columns next to eachother but stacking over one another, change the col widths*/
    
    .col-7, .col-4, col-5 {
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
    
    div.mobileStack {
        width: 50%;
        display: block;
    }
    
    
    div.left-float-col, div.mid-float-col, div.right-float-col {
        padding: 5px;
        display: block;
    }
    
    
    /*div is the element, left-col is the class so we're just editing the div element of it*/
    div.left-col, div.right-col {
        margin: 15px;
        
    }
    
    .video-container iframe{
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
    
}


